**/.idea/
**/.venv*/
**/.vscode/
**/.ipynb_checkpoints/
**/__pycache__/
**/build/
**/dist/
**/cpp_generated/
**/python_generated/
**/*.bak
**/*.bk
**/*.egg-info/
grpc_protos_new
cpp/proto_backup
cpp/neuromeka_cpp/reconstructed_protos
